{% extends "first_page/base.html" %}

{% block title %}News{%endblock%}









{% block content%}

    {% load static %}

<div class="container text-center">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<link rel="stylesheet" href="{%static 'css/home.css'%}">
      <div class="form-group">


      </div>

    <div>
        Total Articles :  <span> {{ total_number }}</span>
    </div>
<form action="." method="get">
  <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    {% if title_contains %}
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" value={{title_contains}} />


                    {% else%}
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" placeholder="Headline contains..." />
                   {%endif%}
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    {%if title_or_author%}
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_or_author" value={{title_or_author}} />

                    {%else%}
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_or_author" placeholder="Author..." />
                    {%endif%}
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-row">

          <div class="form-group col-md-2 col-lg-2">

            <label for="publishDateMin">Publish date minimum</label>
            {% if date_min%}
            <input type="date" class="form-control" id="publishDateMin" name="date_min" value="{{date_min}}">
            {%else%}
            <input type="date" class="form-control" id="publishDateMin" name="date_min" >
            {%endif%}
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Publish date maximum</label>
            {%if date_max%}
            <input type="date" class="form-control" id="publishDateMax" name="date_max" value={{date_max}}>

            {%else%}
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
            {%endif%}
          </div>
          <div class="form-group col-md-4">
            <label for="category">Category</label>
            <select id="category" class="form-control" name="url">
                <option  value="" >--- All urls ---</option>

                {%if url%}
              <option  selected >{{url}}</option>
              {%endif%}

              {% for cat in categories %}
              <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
      </form>

<div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">

                <h3 id="title">Articles</h3>
                <div class="pull-right" id="filter">
                    <button class="btn btn-default btn-xs btn-filter" ><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="" disabled></th>
                        <th><input type="text" class="form-control" placeholder="" disabled></th>
                        <th><input type="text" class="form-control" placeholder="" disabled></th>
                        <th><input type="text" class="form-control" placeholder=" " disabled></th>
                    </tr>
                </thead>
                <tbody>
           <thead>

            <td>Article Link</td>
            <td>Headline</td>
            <td>Link</td>
            <td>Author</td>
            <td>Date Published</td>

         </thead>


         {% for row in rows %}
            <tr>
               <td>{{ row.base_url }}</td>
               <td> {{ row.headline}}</td>
               <td><a href='{{ row.article_link }}  'target="_blank">Go to article</a> </a></td>
               <td>{{ row.author }}</td>
               <td>{{ row.published_date }}</td>

            </tr>
            {% endfor %}


                </tbody>
            </table>
        </div>
    </div>

  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">


      <li class="page-item"><a class="page-link" href="?url={{url}}&title_contains={{title_contains}}&date_min={{date_min}}&date_max={{date_max}}&page=1">First</a>
            </li>


  {% if rows.has_previous %}
  		<li class="page-item"><a class="page-link" href="?url={{url}}&title_contains={{title_contains}}&date_min={{date_min}}&date_max={{date_max}}&page={{rows.previous_page_number }}">Previous</a>
  		</li>
  			{%else%}
  			<li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>


        {% endif %}
            {% if rows.number|add:'-5' > 1 %}
    <li class="page-item"><a class="page-link" href="?url={{url}}&title_contains={{title_contains}}&date_min={{date_min}}&date_max={{date_max}}&page={{rows.number|add:'-5' }}">&hellip;</a></li>

{% endif %}

           {%for page in paginator.page_range%}

            {% if page == rows.number %}

              <li class="page-item active">
                  <a  class="page-link" href="?url={{url}}&title_contains={{title_contains}}&date_min={{date_min}}&date_max={{date_max}}&page={{page}}">{{page}}</a>
              </li>

                {% elif page > rows.number|add:'-6' and page < rows.number|add:'6' %}
<li class="page-item"><a class="page-link" href="?url={{url}}&title_contains={{title_contains}}&date_min={{date_min}}&date_max={{date_max}}&page={{page }}">{{page}}</a>
              </li>    {% endif %}


              {%endfor%}
              {% if paginator.num_pages > rows.number|add:'4' %}
    <li class="page-item"><a class="page-link" href="?url={{url}}&title_contains={{title_contains}}&date_min={{date_min}}&date_max={{date_max}}&page={{ rows.number|add:'5' }}">&hellip;</a></li>
{% endif %}
              {% if rows.has_next %}
              <li class="page-item"><a class="page-link" href="?url={{url}}&title_contains={{title_contains}}&date_min={{date_min}}&date_max={{date_max}}&page={{rows.next_page_number }}">Next</a>
              </li>
  			{%else%}
  			<li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Next</a>
    </li>
        {% endif %}

            <li class="page-item"><a class="page-link" href="?url={{url}}&title_contains={{title_contains}}&date_min={{date_min}}&date_max={{date_max}}&page={{paginator.num_pages }}">Last</a>
            </li>

  </ul>
</nav>



      <a href = "/">Go back to home page</a>

   </body>
    </div>

            <script type="text/javascript" src="{% static 'js/index.js'%}"></script>

{%endblock%}